*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f5f5f5;
    /* display: flex; 
    justify-content: center; 
    align-items: center; */
    min-height: 100vh;
    padding-top: 70px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  background-color: rgb(233, 236, 255);
  padding: 10px;
  /* margin-bottom: 50px; */
}

.lista-enlaces{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-enl{
    margin: 0 10px;
    border-radius: 10px;
    padding: 10px;
}

.item-enl:hover{
    background-color: #007bff;
}

.enlace{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.enlace:hover{
    color: white;
    font-weight: 600;
}

/* ventana modal login */
.modal-completo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal-completo.active{
    opacity: 1;
    visibility: visible;
}

.modal-fondo-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('multimedia/mapaBarinas.png'); 
    background-size: cover;
    background-position: center;
    filter: blur(3px); 
}

.modal-overlay-oscuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-contenido{
    z-index: 10;
    position: relative;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    /* transform: translateY(-20px); */
    transform: scale(0.8);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);


    padding: 30px;
    gap: 1em;
}

.icono-ubi-contenedor{
    margin: 20px 0;
}

.icono-ubi{
    width: 60px;
    height: 60px;
    position: relative;
    margin: 20px auto 10px;
}

.icono-ubi .base{
    width: 100%;
    height: 100%;
    border: 5px solid #007bff; /* Color del contorno */
    border-radius: 50% 50% 50% 0; /* Forma de gota, ajusta según el diseño */
    transform: rotate(-45deg); /* Gira para que la punta apunte hacia abajo */
    position: absolute;
    top: 0;
    left: 0;
}

.icono-ubi .relleno{
    width: 100%;
    height: 100%;
    background-color: #007bff; /* Color de relleno */
    border-radius: 50% 50% 50% 0; 
    transform: rotate(-45deg); 
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center; /* El punto de origen de la transformación es abajo */
    height: 0; /* Empieza vacío */
    animation: rellenar-ubicacion 1s ease-out forwards;
}

/* Definición de la animación de llenado */
@keyframes rellenar-ubicacion {
    0% {
        height: 0;
        opacity: 0.5;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

/* ventana scaner qr */
.modal-qr{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal-qr.active{
    opacity: 1;
    visibility: visible;
}

.modal-container-qr{
    z-index: 10;
    position: relative;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    padding: 30px;
    gap: 1em;
}

#reader {
    width: 100%;
    height: 100%;
}

/* modal formulario rutas */
.modal-rutas-completo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal-rutas-completo.active{
    opacity: 1;
    visibility: visible;
}

.modal-rutas-contenido{
    z-index: 10;
    position: relative;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-20px);
    padding: 30px;
    gap: 1em;
}

.header-rutas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.label-rutas{
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
    text-align: left;
}

.inputs-rutas{
    display: block;
    /* justify-content: space-between;
    align-items: center; */
    text-align: center;
}

.input-group-rutas {
    display: flex; /* Asegura que el contenedor de select y descripción no sea flex horizontal */
}

.form-rutas{
    text-align: center;
    flex: 1;
}

.descripcion-rutas{
    float: right;
    border: none;
    background: none;
    border-radius: 10px;
    transition: color 0.3s;
    text-align: justify; 
    
    /* Propiedades adicionales comunes para justificación */
    line-height: 1; /* Mejora la legibilidad */
    padding: 15px;
    border: 1px solid #ccc;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

#rutas{
    width: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    cursor: pointer;
}

#rutas:focus{
    border: 1px solid;
    border-color: #2560e0;
    outline: none;
    box-shadow: 0 4px 20px rgba(19, 56, 243, 0.20);
}

.btn-ruta{
    font-weight: 600;
    width: 100%;
    padding: 12px;
    background-color: #2560e0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-ruta:hover{
    background-color: #437df9;
    font-weight: 900;
    box-shadow: 0 4px 20px rgba(19, 47, 188, 0.5);
}

/* barra lateral para las distintas rutas */
.contenedor-mapas{

    display: flex;
    justify-content: start; /* Centrado horizontal */
    align-items: flex-start; /* Alinea arriba el contenido de las dos columnas */
    width: 100%;

    
    /* display: flex;  Habilita el layout flexible 
    height: 100%;   Ocupa toda la altura de la ventana 
    width: 100%;
    margin: 0;
    padding: 0; */
}

#sidebar {
    width: 250px; /* Ancho fijo para la barra lateral */
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    border-radius: 0px 20px 20px 0px;
    min-height: 500px; 
    align-self: flex-start;
}

.sidebar-title {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

#tab-list {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
}

.tab-item {
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.tab-item:hover {
    background-color: #e0e0e0;
}

.tab-item.active {
    background-color: #007bff; /* Color para la pestaña activa */
    color: white;
    font-weight: bold;
}

.map-container{
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    /* padding-left: 20px; */
}

.titulo-ruta{
    margin: 10px;
}

#mapa{
    height: 500px;
    width: 800px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border: 1px;
}

/* Oculta las flechas en Firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* caja de muestra de mensaje validacion */
.modal-success {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.9); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-success.active {
    opacity: 1;
    visibility: visible;
}

.success-content {
    z-index: 10;
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.modal-success.active .success-content {
    transform: scale(1);
}

.success-text {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4CAF50; /* Color verde para el texto de éxito */
    font-weight: bold;
}

/* Estilos para el SVG del checkmark animado */
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4CAF50;
    position: relative;
    margin: 0 auto;
}

.checkmark.animate-checkmark {
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4CAF50;
    fill: none;
}

.checkmark.animate-checkmark .checkmark__circle {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.checkmark.animate-checkmark .checkmark__check {
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4CAF50;
    }
}
